body {
  font-family:  "PT Sans", "Arial", sans-serif;
color: black;
background: #ADD8E6;

}



.header { 
  height: 100px;
  background: #4a87fa;
  margin-right: 20px;
 margin-left: 10px;
  margin-top: 20px;
  width:1240px
}

.zag{font-family:   "Arial", sans-serif;
     margin-left: 100px;
 margin-top: -90px;
      margin-bottom: 10px; }

.navigation-list{
		margin-right: 0px;
		margin-left: 1000px;
		font-size: 20px;}

   
.telo   {
background: #708080;
   
    margin-left: 210px;
    margin-top: 50px;
    height: 2800px;
	}
 
.telo {width:840px;
color: red;}

.text{    font-size: 20px;
		  line-height: 30px;
		  color:black;
		  margin-right: 30px;
		  margin-left: 45px;}
		  
.shemapirat{margin-left: 30px;}
		  


.asideR {
   background: #ff8a00 ;
   margin-right: 10px;
   margin-left: 1050px;
   margin-top: -518px;
   height: 2800px;
     width:200px; }
	 
	 
.zagolovok{
margin-left: 20px;
 color: black;
  font-size: 30px;}	  

	  
.rekl {
    margin-left: 10px;
	margin-top: 200px;
   }


	  
.asideL { 
   background: #ff8a00 ;
   margin-right: 1070px;
   margin-left: -200px;
   margin-top: -2583px;
   height: 2800px;
    width:200px;  
}

.asideLS {margin-top: -2500px;
          font-size: 20px;
		  line-height: 40px;
		  font-family:   "Arial", sans-serif;
		  margin-left: 20px;}
		  
		  
.PN {margin-left: 45px;}
.PN1 {margin-left:65px;}





.site-header {
  margin-top: 50px;
   background: red;
  
}
 
.second {color: #49515a;
  font-size: 30px;
  padding: 15px 100px;
  margin: 10px 20px;
   }
	

  
	 
.site-navigation {
 
  color: #49515a;
  font-size: 10px;
  margin-bottom: 35px;
  margin-top: 30px;
  }

 .navigation {
   
    color: #49515a;
  font-size: 18px;
  margin-bottom: 25px;
  margin-top: 0px;
  margin-left: 900px;
}

